<ion-view class='third' title="发现"  >
	<ion-content ng-controller="third" class="third">
	    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
	    </ion-refresher>
	   	 <!--标题-->
	   	 <ion-nav-bar class="bar bar-header bar-light">
 	 	</ion-nav-bar>
 	 	<div class="tt">
 	 		
 	 	</div>
 	 	<div class="xuanze" >
 	 		<p ng-click="clickLeft()" ng-style="ll">平台活动</p>
 	 		<p ng-click="clickRight()" ng-style="rr">官方公告</p>
 	 	</div>
 	 	<div class="aa" ng-if="left">
 	 		<div class="act" ng-repeat="data in datalist track by $index" >
				<div ng-click="toDetail('boutique',$index)">
					<p style="font-weight: 600;">冲榜夺金</p>
					<p>2018-01-13</p>
					<div>
						<img src="{{data.imgSrc}}"/>
					</div>
				</div>
			</div>
 	 	</div>
		
		<ul ng-if="right" class="gg">
	   		<li><a href="">特权尊享活动说明<img src="img/m10.jpg" style="float: right;"/></a></li>
	   		<li><a href="">各大银行限额说明<img src="img/m10.jpg" style="float: right;"/></a></li>
	   		<li><a href="">招商银行支付系统紧急维护公告<img src="img/m10.jpg" style="float: right;"/></a></li>
	   		<li><a href="">新手计划投资额度升级公告<img src="img/m10.jpg" style="float: right;"/></a></li>
	   		<li><a href="">民生银行支付系统维护公告<img src="img/m10.jpg" style="float: right;"/></a></li>
	   		<li><a href="">产品再升级<img src="img/m10.jpg" style="float: right;"/></a></li>
	   		<li><a href="">央企战略控股金碗理财，强势登陆理财市场<img src="img/m10.jpg" style="float: right;"/></a></li>
	   		<li><a href="">项目还款公告<img src="img/m10.jpg" style="float: right;"/></a></li>
	   	</ul>
	</ion-content>
</ion-view>